body{
	height:100%;
}
#container {
	min-height:100%;
	position:relative;
}
#body {
	padding:10px;
	padding-bottom:60px;   /* Height of the footer */
}
.main-content{
	padding:0 0 30px;
}
.page-header {
	padding-bottom:0;
	padding-top:0;
	margin:0;
	border:none;
}
.page-header h1{
	font-size:22px;
	font-weight:bold;
	margin-top:0;
	margin-bottom: 0;
}
#top-panel{
	display: flex;
    align-items: center;
    margin-bottom: 10px;
    border-bottom: thin solid #ddd;
    padding-bottom: 10px;
}
.breadcrumb{
	margin-bottom:0;
}
#left-nav li {
	display:block;
	float:none;
	border:none;
}

.navbar.navbar-default {
	margin-bottom:0;
}

#left-nav .nav-pills li a {
	border-radius:0;
}

.nav-pills > li + li {
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
	border-radius:0;
}

#left-nav {
	width:100%;
	display:inline-block;
}

footer{
	position:absolute;
	bottom:0;
	width:100%;
	height:60px;   /* Height of the footer */
	background:#1995dc;
	display: flex;
    align-items: center;
}
footer p{
	color:#ffffff;
	margin:0;
}
